:root {
  --main-bg-color: #141414;
  --primary-color: white;
  --primary-font: Jost, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
